.container {
  background-color: white;
  width: 80%;
  height: 109px;
  border-radius: 8px;
  animation: expandHorizontally 0.3s ease-out forwards;
  transform-origin: center;
}

@keyframes expandHorizontally {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.inputTask {
  text-align: left;
  padding: 12px 0px;
}

.inputBox {
  border: none;
  outline: none;
  font-size: 20px;
  margin-left: 20px;
  width: calc(100% - 30px);
}

.inputBox::placeholder {
  font-style: italic;
}

.buttonBox {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  height: 40px;
  padding: 10px 10px;
  background-color: rgb(223, 218, 218);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cancelButton {
  border: none;
  background-color: rgb(223, 218, 218);
  width: 75px;
  font-size: 15px;
  color: rgb(94, 92, 92);
  cursor: pointer;
}

.saveButton {
  width: 75px;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  background-color: black;
  cursor: pointer;
}
