.pomodoroTimer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
}

.timerButtons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.timerButtonP {
  color: white;
  background-color: gray;
  border: none;
  border-radius: 2px;
  height: 20px;
  font-size: 15px;
}

.timerButton {
  padding: 10px 20px;
  height: 55px;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: rgb(186, 73, 73);
  cursor: pointer;
  margin-bottom: 30px;
  width: 200px;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-weight: bold;
  font-size: 22px;
  transition: color 0.5s ease-in-out;
}

.pomodoroButton {
  color: rgb(186, 73, 73);
}

.shortBreakButton {
  color: rgb(56, 133, 138);
}

.longBreakButton {
  color: rgb(57, 112, 151);
}

.timerDisplay {
  font-size: 6em;
  margin-bottom: 20px;
}
